{% extends "base.html" %} 
{% load static %}
{% block content %}
<div class="container" id="main">
  <!-- header section -->
  <header id="main-header">
    <h1>We have great meetups coming soon!!</h1>
    <p>Find the one that best suits your needs</p>
  </header>
<!-- main section -->
<main>
  <section>
    <h1>Upcoming Meetups</h1>
    <ol>
      {% if show_meetups %}
      {% for meetup_item in meetups %}
      <!-- with keyword assist in defining the code that is required in the markup but is not present in the includes -->
      {% include "meetups/includes/meetup-item.html" with title=meetup_item.title location=meetup_item.location %}
      {% endfor %}
    {%else %}
      <p>No meetups found</p>
    {%endif %}
    </ol>
  </section>
</main>
{% endblock content %}
